/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.appcolor {
    color: brown;
}

.btncolor {
    background-color: brown;
    border: none;
    padding: 3px 7px;
}